[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
alive-progress = "*"
selenium = "*"
bs4 = "*"
lxml = "*"
pika = "*"
redis = "*"
google-cloud-storage = "*"
python-dotenv = "*"
gql = {extras = ["all"], version = "*"}

[dev-packages]
pylint = "*"
yapf = "*"
pre-commit = "*"
flake8 = "*"

[requires]
python_version = "3.9"
